<div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody><tr>
          <td><a href="/users/id">
            <img class="attachment user profile_image fallback" src="/assets/no-image-icon-.jpg"><br>
            Olivia
</a>          </td>
          <td><a href="></a></td>
          <td></td>
        </tr>
      </tbody></table>
    </div>